/*!
 * AMBA Styles
 * By Caerdydd Digital
 */
:root {
  /* font size scale for 1.2 */
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;
  --font-size-7: 2.986rem;
  /* font weight */
  --font-weight-1: 200;
  --font-weight-2: 300;
  --font-weight-3: 400;
  --font-weight-4: 500;
  --font-weight-5: 600;
  --font-weight-6: 700;
  --font-weight-7: 800;
  /* amba-colours */
  --amba-green-gradient: rgba(255,255,255,0.5);
  --amba-white: #fff;
  --amba-off-white: #fcfdfd;
  --amba-black: #000;
  --amba-green: #00888A;
  --amba-orange: #EE7401;
  --amba-red: #8C0044;
  --amba-light-grey: #E6EDEF;
  --amba-mid-grey: #A4B3B7;
  --amba-dark-grey: #1C2E36;
  /* margins */
  --margin-size-1: 0.2rem
  --margin-size-2: 0.4rem
  --margin-size-3: 0.8rem
  --margin-size-4: 1.6rem
  --margin-size-5: 3.2rem
  --margin-size-6: 6.4rem
  --margin-size-7: 12.8rem

  /* padding */
  --padding-size-1: 0.2rem;
  --padding-size-2: 0.4rem;
  --padding-size-3: 0.8rem;
  --padding-size-4: 1.6rem;
  --padding-size-5: 3.2rem;
  --padding-size-6: 6.4rem;
  --padding-size-7: 12.8rem; }

@media screen and (min-width: 768px) {
  :root {
    /* scale for 1.33 */
    --font-size-1: 1rem;
    --font-size-2: 1.25rem
    --font-size-3: 1.563rem
    --font-size-4: 1.953rem
    --font-size-5: 2.441rem
    --font-size-6: 3.052rem
    --font-size-7: 4.768rem

  	/* margins */
	  --margin-size-1: 0.2rem;
    --margin-size-2: 0.466rem;
    --margin-size-3: 1.086rem;
    --margin-size-4: 2.53rem;
    --margin-size-5: 5.895rem;
    --margin-size-6: 13.734rem;
    --margin-size-7: 32.01rem;
    /* padding */
    --padding-size-1: 0.2rem;
    --padding-size-2: 0.466rem;
    --padding-size-3: 1.086rem;
    --padding-size-4: 2.53rem;
    --padding-size-5: 5.895rem;
    --padding-size-6: 13.734rem;
    --padding-size-7: 32.01rem; } }

/* --- Text Fonts --- */
:root {
  font-size: 16px;
  color: var(--amba-dark-grey); }

h1, h2, h3, h4, h5, h6, p {
  color: var(--amba-dark-grey);
  line-height: 1.2;
  color: inherit;
  font-style: normal; }

p {
  color: var(--amba-dark-grey); }

a, p a {
  color: var(--amba-orange); }

h1 {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-7); }

h2 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-5); }

h3 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-5); }

h4 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4); }

h5 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-3);
  text-transform: uppercase; }

h6 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2); }

p, a, p a {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1); }

h1, h2, h3, h4, h5 {
  font-family: 'Nunito Sans', sans-serif;
  /* replace with Avenir when available */ }

h6, p, a, p a, footer p, footer a {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: var(--margin-size-3); }

p.link {
  margin-bottom: 0.2rem; }

a:hover,
.link a:hover {
  color: inherit;
  opacity: 0.9; }

nav {
  background-color: var(--amba-white);
  display: flex; }
  nav a, nav h1, nav h5 {
    padding: 0.2rem;
    margin: 0 1rem; }
  nav a {
    border-bottom: 0.2rem solid var(--amba-orange);
    font-size: 0.8rem; }
  nav a:hover {
    text-decoration: none;
    border-bottom: 0.2rem solid var(--amba-green);
    color: var(--amba-green); }

.bg-amba-white {
  background-color: var(--amba-white); }

.bg-amba-off-white {
  background-color: var(--amba-off-white); }

.bg-amba-green {
  background-color: var(--amba-green); }

.bg-amba-green-gradient {
  background-color: var(--amba-green-gradient); }

.bg-amba-red {
  background-color: var(--amba-red); }

.bg-amba-orange {
  background-color: var(--amba-orange); }

.bg-amba-light-grey {
  background-color: var(--amba-light-grey); }

.bg-amba-mid-grey {
  background-color: var(--amba-mid-grey); }

.bg-amba-dark-grey {
  background-color: var(--amba-dark-grey); }

/* -- Block Colours --*/
.bg-amba-white {
  background-color: var(--amba-white);
  color: var(--amba-dark-grey); }
  .bg-amba-white .amba-block-title {
    color: var(--amba-green); }
  .bg-amba-white .amba-block-description {
    color: var(--amba-dark-grey); }

.bg-amba-red .amba-block-title,
.bg-amba-green .amba-block-title,
.bg-amba-dark-grey .amba-block-title {
  color: var(--amba-white); }

.bg-amba-red .amba-block-description, .bg-amba-red p, .bg-amba-red a, .bg-amba-red li,
.bg-amba-green .amba-block-description,
.bg-amba-green p,
.bg-amba-green a,
.bg-amba-green li,
.bg-amba-dark-grey .amba-block-description,
.bg-amba-dark-grey p,
.bg-amba-dark-grey a,
.bg-amba-dark-grey li {
  color: var(--amba-white); }

.bg-amba-red h1, .bg-amba-red h2, .bg-amba-red h3, .bg-amba-red h4, .bg-amba-red h5, .bg-amba-red h6, .bg-amba-red p,
.bg-amba-green h1,
.bg-amba-green h2,
.bg-amba-green h3,
.bg-amba-green h4,
.bg-amba-green h5,
.bg-amba-green h6,
.bg-amba-green p,
.bg-amba-dark-grey h1,
.bg-amba-dark-grey h2,
.bg-amba-dark-grey h3,
.bg-amba-dark-grey h4,
.bg-amba-dark-grey h5,
.bg-amba-dark-grey h6,
.bg-amba-dark-grey p {
  color: var(--amba-white); }

.amba-article-title h1 {
  color: #00888A; }

.padded-mobile {
  padding-top: 1rem;
  padding-bottom: 1rem; }

/* Images */
.img-fluid {
  max-width: 100%;
  height: auto; }

.img-margin-bottom {
  margin-bottom: var(--margin-size-4); }
  @media (min-width: 576px) {
    .img-margin-bottom {
      margin-bottom: 0; } }

.img-icon {
  max-width: 4rem;
  margin-bottom: 1.2rem; }

.img-social-icon {
  max-width: 3rem;
  margin: 1rem 0.6rem 1rem 0; }

/* Responsive Image holders */
.img-holder {
  width: 100%;
  height: 300px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 768px) {
  .img-holder {
    width: 100%;
    height: 380px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover; } }

/* --- Background Images --- */
.amba-content-bg-001 {
  background-image: url("../img/amba-collection/img-md-001.jpg"); }

.amba-content-bg-002 {
  background-image: url("../img/amba-collection/img-md-002.jpg"); }

.amba-content-bg-003 {
  background-image: url("../img/amba-collection/img-md-003.jpg"); }

.amba-content-bg-004 {
  background-image: url("../img/amba-collection/img-md-004.jpg"); }

.amba-content-bg-005 {
  background-image: url("../img/amba-collection/img-md-005.jpg"); }

.amba-content-bg-006 {
  background-image: url("../img/amba-collection/img-md-006.jpg"); }

.amba-content-bg-007 {
  background-image: url("../img/amba-collection/img-md-007.jpg"); }

.amba-content-bg-008 {
  background-image: url("../img/amba-collection/img-md-008.jpg"); }

.amba-content-bg-009 {
  background-image: url("../img/amba-collection/img-md-009.jpg"); }

.amba-content-bg-010 {
  background-image: url("../img/amba-collection/img-md-010.jpg"); }

.amba-content-bg-011 {
  background-image: url("../img/amba-collection/img-md-011.jpg"); }

.amba-content-bg-012 {
  background-image: url("../img/amba-collection/img-md-012.jpg"); }

.amba-content-bg-013 {
  background-image: url("../img/amba-collection/img-md-013.jpg"); }

.amba-content-bg-014 {
  background-image: url("../img/amba-collection/img-md-014.jpg"); }

.amba-content-bg-015 {
  background-image: url("../img/amba-collection/img-md-015.jpg"); }

.amba-content-bg-016 {
  background-image: url("../img/amba-collection/img-md-016.jpg"); }

.amba-content-bg-017 {
  background-image: url("../img/amba-collection/img-md-017.jpg"); }

/* --- ---- */
.amba-hero-bg-001 {
  background-image: url("../img/amba-collection/img-xl-001.jpg"); }

.amba-hero-bg-002 {
  background-image: url("../img/amba-collection/img-xl-002.jpg"); }

.amba-hero-bg-003 {
  background-image: url("../img/amba-collection/img-xl-003.jpg"); }

.amba-hero-bg-004 {
  background-image: url("../img/amba-collection/img-xl-004.jpg"); }

.amba-hero-bg-005 {
  background-image: url("../img/amba-collection/img-xl-005.jpg"); }

.amba-hero-bg-006 {
  background-image: url("../img/amba-collection/img-xl-006.jpg"); }

.amba-hero-bg-007 {
  background-image: url("../img/amba-collection/img-xl-007.jpg"); }

.amba-hero-bg-008 {
  background-image: url("../img/amba-collection/img-xl-008.jpg"); }

.amba-hero-bg-009 {
  background-image: url("../img/amba-collection/img-xl-009.jpg"); }

.amba-hero-bg-010 {
  background-image: url("../img/amba-collection/img-xl-010.jpg"); }

.amba-hero-bg-011 {
  background-image: url("../img/amba-collection/img-xl-011.jpg"); }

.amba-hero-bg-012 {
  background-image: url("../img/amba-collection/img-xl-012.jpg"); }

.amba-hero-bg-013 {
  background-image: url("../img/amba-collection/img-xl-013.jpg"); }

.amba-hero-bg-014 {
  background-image: url("../img/amba-collection/img-xl-014.jpg"); }

.amba-hero-bg-015 {
  background-image: url("../img/amba-collection/img-xl-015.jpg"); }

.amba-hero-bg-016 {
  background-image: url("../img/amba-collection/img-xl-016.jpg"); }

.amba-hero-bg-017 {
  background-image: url("../img/amba-collection/img-xl-017.jpg"); }

/* ------- */
.amba-mugshot-001 {
  background-image: url("../img/amba-collection/img-person-lg-001.jpeg"); }

.amba-mugshot-002 {
  background-image: url("../img/amba-collection/img-person-lg-002.jpeg"); }

/* ------- */
.amba-ambition-edition-001 {
  background-image: url("../img/amba-collection/img-ambition-sm-001.jpg"); }

.amba-ambition-edition-002 {
  background-image: url("../img/amba-collection/img-ambition-sm-002.jpg"); }

.amba-ambition-edition-003 {
  background-image: url("../img/amba-collection/img-ambition-sm-003.jpg"); }

.amba-ambition-edition-004 {
  background-image: url("../img/amba-collection/img-ambition-sm-004.jpg"); }

/* ------- */
.amba-full-width-img {
  width: 100%;
  height: 60vh;
  background-size: cover; }

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 2.2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.15rem;
  color: var(--amba-white);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn:hover {
  color: var(--amba-white);
  opacity: 0.9; }

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none; } }

.btn:hover, .btn:focus {
  text-decoration: none; }

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.btn-primary {
  background-color: #EE7401;
  color: #ffffff; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 0.5rem; }

/* --- Card Master --- */
.card-block {
  padding: var(--padding-size-2);
  border-radius: 0.2rem;
  margin-bottom: var(--margin-size-3); }
  .card-block i {
    margin-right: var(--margin-size-2); }

.card {
  border-radius: 0.2rem;
  margin-bottom: var(--margin-size-3);
  margin: .5rem 0 1rem 0; }
  @media (min-width: 768px) {
    .card {
      margin-bottom: var(--margin-size-4); } }
  .card i {
    margin-right: 0.4rem;
    color: var(--amba-green); }

/* --- Card Imports --- */
.card-ambition-mag {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: var(--margin-size-4);
  border-radius: 0.1rem; }
  .card-ambition-mag .card-image-holder {
    position: relative;
    min-height: 8rem;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: var(--padding-size-1);
    text-align: right; }
  .card-ambition-mag .card-header {
    padding: 1.2rem var(--padding-size-2);
    border-bottom: 0.1rem solid var(--amba-light-grey); }
    .card-ambition-mag .card-header p {
      margin-bottom: 0;
      color: var(--amba-green); }
  .card-ambition-mag .card-body .article {
    display: flex;
    border-bottom: 1px solid var(--amba-off-white);
    padding: 0.6rem var(--padding-size-2); }
    .card-ambition-mag .card-body .article i {
      margin-right: var(--margin-size-3); }
    .card-ambition-mag .card-body .article p {
      font-size: 0.8rem;
      padding-bottom: 0;
      margin-bottom: 0; }
  .card-ambition-mag .card-body .article:first-child {
    margin-top: var(--margin-size-3); }
  .card-ambition-mag .card-footer {
    text-align: center;
    padding: var(--padding-size-2); }
    .card-ambition-mag .card-footer .btn {
      width: 100%;
      margin-bottom: 0; }

/* --- Version 2 --- */
.card-ambition-mag-v2 {
  box-shadow: 0 0 0 0 transparent; }
  .card-ambition-mag-v2 .card-image-holder {
    position: relative;
    min-height: 12rem;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: var(--margin-size-3);
    display: flex;
    justify-content: center;
    align-items: center; }
    .card-ambition-mag-v2 .card-image-holder h3 {
      text-align: center;
      color: #fff;
      background-color: var(--amba-red);
      padding: var(--padding-size-1);
      border-radius: 0.2rem;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.3rem;
      margin: auto var(--margin-size-2); }
  .card-ambition-mag-v2 .card-body {
    text-align: left;
    min-height: 13rem;
    padding: 0.6rem 0; }
    .card-ambition-mag-v2 .card-body li {
      font-size: 0.8rem; }
  .card-ambition-mag-v2 .card-footer {
    padding: 0 1.2rem 0 var(--padding-size-2); }
    .card-ambition-mag-v2 .card-footer .btn {
      width: 100%;
      margin: 0 auto; }

/* Contact Card */
.card-contact {
  margin: 0 auto;
  border-radius: 0.2rem;
  padding: 2rem var(--padding-size-2);
  min-height: 0; }
  .card-contact.card-contact-portrait {
    max-width: 400px; }
    .card-contact.card-contact-portrait .card-contact-mugshot {
      margin: 0 auto 1rem auto; }
  .card-contact.card-contact-landscape {
    max-width: 500px; }
    .card-contact.card-contact-landscape .card-contact-mugshot {
      margin: 0 auto 0 auto; }
    .card-contact.card-contact-landscape .card-contact-body h5 {
      margin-bottom: 0; }
  .card-contact .card-contact-mugshot {
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    border: 6px solid white;
    border-radius: 100px;
    position: relative;
    /*  top: -70px;*/ }
  .card-contact .card-contact-body h4 {
    color: var(--amba-green);
    margin-bottom: var(--margin-size-2); }
  .card-contact .card-contact-body h5 {
    margin-bottom: var(--margin-size-3); }
  .card-contact .card-contact-body p {
    margin-bottom: var(--margin-size-2); }
  .card-contact .card-contact-body a {
    color: var(--amba-dark-grey); }

.card-event .card-img-top {
  height: 12rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.1rem 0.1rem 0 0;
  margin-bottom: 0; }

.card-event .card-body {
  padding: 1.2rem 0; }
  .card-event .card-body p {
    margin-bottom: var(--margin-size-2);
    font-size: 0.8rem;
    color: var(--amba-mid-grey); }
  .card-event .card-body .card-event-title {
    margin-bottom: var(--margin-size-2);
    font-weight: 500;
    color: var(--amba-green); }
    @media (min-width: 768px) {
      .card-event .card-body .card-event-title {
        min-height: 2.4rem; } }
  .card-event .card-body .card-event-details {
    margin-bottom: var(--margin-size-3); }
    .card-event .card-body .card-event-details p {
      color: var(--amba-mid-grey);
      font-size: 0.8rem; }
  .card-event .card-body .card-event-description p {
    color: var(--amba-dark-grey);
    font-size: 0.8rem; }
  .card-event .card-body .card-event-description p:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .card-event .card-body .card-event-description {
      min-height: 6rem; } }

.card-event .card-footer {
  padding: 0; }
  .card-event .card-footer .btn {
    width: 100%;
    margin: 0 auto; }

/* Card Enquiry */
.card-enquiry {
  margin-bottom: var(--margin-size-3);
  background-color: var(--amba-white); }
  .card-enquiry .card-enquiry-mugshot {
    border-radius: 0.2rem 0 0 0.2rem;
    height: 11rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
  .card-enquiry .card-enquiry-body {
    padding: var(--padding-size-1); }
    .card-enquiry .card-enquiry-body .person-name {
      margin-bottom: var(--margin-size-1); }
    .card-enquiry .card-enquiry-body .person-job-title {
      margin-bottom: var(--margin-size-2); }
    .card-enquiry .card-enquiry-body .person-details,
    .card-enquiry .card-enquiry-body a {
      margin-bottom: var(--margin-size-1);
      color: inherit; }

.card-enquiry:last-child {
  margin-bottom: 0; }

.card-nested-content {
  padding: var(--padding-size-2); }
  .card-nested-content p {
    color: var(--amba-dark-grey); }
  .card-nested-content p:first-child {
    color: var(--amba-green);
    font-weight: 600;
    margin-bottom: var(--margin-size-2); }
  .card-nested-content p:last-child {
    margin-bottom: 0; }
  .card-nested-content a {
    color: var(--amba-orange); }

.card-list-item {
  margin-bottom: var(--margin-size-4); }

.card-accreditation-application .card-image-holder {
  height: 5rem;
  background-color: #e6edef;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2300888a' fill-opacity='0.09' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  margin-bottom: var(--margin-size-2); }

/* Card Variables */
.contact-card-accreditation .card-contact-mugshot {
  background-image: url(../img/team/mugshot-amy-youngs-background.jpg); }

.contact-card-accreditation .card-contact-mugshot {
  background-image: url(../img/team/mugshot-jack-sparrow-background.jpg); }

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 0;
  list-style: none;
  background-color: #E6EDEF;
  /* AMBA Grey Light */
  border-radius: .20rem;
  font-size: 0.8rem; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: .5rem; }

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "/"; }

.blockquote {
  margin-bottom: 1rem; }

.blockquote p {
  font-size: 1.75rem;
  font-weight: 800; }

.mb-0, .my-0 {
  margin-bottom: 0 !important; }

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.amba-hero {
  padding: 2rem 0rem;
  display: grid;
  margin: 0;
  height: 80vh;
  max-height: 420px;
  text-align: center;
  place-items: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 576px) {
  .amba-hero {
    padding: 4rem 2rem;
    max-height: 540px; } }

.amba-hero-title {
  color: #fff;
  padding: 1.2rem var(--padding-size-3);
  border-radius: 0.2rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.75rem;
  margin: 0 var(--padding-size-3); }

@media (min-width: 576px) {
  .amba-hero-title {
    font-size: 2.2rem; } }

@media (min-width: 768px) {
  .amba-hero-title {
    font-size: 2.6rem; } }

.container-fluid {
  width: 100%;
  padding-left: var(--padding-size-3);
  padding-right: var(--padding-size-3);
  margin-right: auto;
  margin-left: auto; }

.amba-strip-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: var(--padding-size-5);
  padding-bottom: var(--padding-size-5); }
  .amba-strip-bg h1, .amba-strip-bg h2, .amba-strip-bg h3, .amba-strip-bg h4, .amba-strip-bg h5, .amba-strip-bg p, .amba-strip-bg a {
    color: var(--amba-white); }

/* -- Block Depth --*/
.amba-block-slim {
  padding-top: var(--padding-size-3);
  padding-bottom: var(--padding-size-3); }
  .amba-block-slim p,
  .amba-block-slim a {
    color: var(--amba-white);
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0; }

.amba-block-shallow {
  padding-top: var(--padding-size-3);
  padding-bottom: var(--padding-size-3); }

.amba-block-standard {
  padding-top: var(--padding-size-4);
  padding-bottom: var(--padding-size-4); }
  .amba-block-standard .amba-block-header {
    margin-bottom: var(--margin-size-2); }
    .amba-block-standard .amba-block-header p:last-child {
      margin-bottom: 0; }

.amba-block-deep {
  padding-top: var(--padding-size-4);
  padding-bottom: var(--padding-size-4); }

.amba-block-nested {
  border-radius: 0.1rem;
  padding: var(--padding-size-2); }
  @media (min-width: 768px) {
    .amba-block-nested {
      padding: var(--padding-size-3); } }

/* -- Bespoke List Elements --*/
.amba-large-icon-list {
  margin-top: var(--margin-size-2);
  margin-bottom: var(--margin-size-2); }
  .amba-large-icon-list h4 {
    color: var(--amba-green);
    margin-bottom: 0.4rem; }

/* -- Block Types --*/
.amba-dummy-strip {
  min-height: 60px; }

footer {
  padding: 1.6rem 3rem; }

.amba-footer-slim {
  padding: 1rem 3rem; }

.amba-strip-block {
  padding: 1rem; }

.amba-content-block {
  padding: 1.6rem; }

.amba-nested-content-block {
  padding: 1.6rem;
  border-radius: 0.2rem; }

@media (min-width: 768px) {
  .amba-content-block {
    padding: 5rem 3rem;
    /*		padding-top: 5.2rem;
		padding-bottom: 3.2rem;*/ }
  .amba-content-block-shallow {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem; }
  .amba-content-block-deep {
    padding: 5rem 3rem; } }

.amba-content-block-shift-left {
  margin-right: 25%; }

.amba-content-block-shift-right {
  margin-left: 25%; }

.amba-container-block {
  padding: 2rem;
  border-radius: 0.2rem; }

@media (min-width: 768px) {
  .amba-container-block .row {
    margin-bottom: 2rem; } }

@media (min-width: 576px) {
  .amba-block-hug-left {
    padding-left: 0; }
  .amba-block-hug-right {
    padding-right: 0; } }

/* Footer */
footer h5, footer p, footer a {
  color: var(--amba-white); }

footer p {
  margin-bottom: 0.2rem; }

footer ul, footer ol {
  margin-bottom: 0;
  padding-inline-start: 0; }

footer p, footer p a, footer ol p, footer ol a {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0; }

footer .amba-contact-details {
  margin-bottom: 1.2rem; }

.amba-footer-primary {
  background-color: var(--amba-green);
  padding-top: 2.0rem;
  padding-bottom: 2.0rem; }
  @media (min-width: 768px) {
    .amba-footer-primary {
      padding-top: 5.2rem;
      padding-bottom: 5.2rem; } }

.amba-footer-secondary {
  background-color: var(--amba-dark-grey);
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .amba-footer-secondary p {
    margin-bottom: 0; }
