.page-break {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.colour-square {
	margin-bottom: 2rem;
}

.padding-large {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.image-block {
    display: grid;
    margin: 0;
    place-items: center center;
    height: 80vh;
    text-align: center;
  	background: url("../img/temp/temp-tower.jpeg") no-repeat bottom center;
  	background-size: cover;
}


button {
	background-color: #EE7401;
	color: #ffffff;
	border: none;
	border-radius: 0.1rem;
	padding: 0.4rem 2.0rem;
}

