/* ---- Utilities --- */

/*@media (min-width: 768px) {
	.container {
	    max-width: 720px;
	}
}*/


/* ---- Fonts -----

h1 = 64px = 4rem
h2 = 36px = 2.25rem
h3 = 28px = 1.75rem
h4 = 24px = 1.5rem
h5 = 24px = 1.5rem
h6 = 13px = 0.8125rem
p = 18px = 1.125rem
body = 18px = 1.125rem

Fonts available:
Nunito+Sans:300,600,800
Open+Sans:400,700


/* Bootstrap Overides */

:root {
font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.8rem;
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
  font-style: normal;
}

h1 {
  font-size: 3.2rem;
  font-weight: 800;
}

h2 {
  font-size: 2.25rem;
/*  margin-bottom: 4rem;*/
  font-weight: 800;
}

h3 {
  font-size: 1.75rem;
  font-weight: 800;

}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
 font-size: 0.8125rem;
 font-weight: 600;
 text-transform: uppercase;
}

h6 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

p {
  font-size: 1.0rem;
  font-weight: 400;
  margin-top: 0;
}

p.link {
	margin-bottom: 0.2rem;
}

p .body {
  font-size: 1.0rem;
  font-weight: 400;
  margin-top: 0;
}

a {
  color: #EE7401;
}

a:hover {
  color: #EE7401;
  opacity: 0.9;
}

/* AMBA Specific */

h1,h2,h3,h4,h5 {
/*	font-family: 'Lato', sans-serif; 
	font-family: 'Nunito', sans-serif;*/
	font-family: 'Nunito Sans', sans-serif; /* replace with Avenir when available */
}

h6,p {
	font-family: 'Open Sans', sans-serif;
}

button {
	margin-bottom: 1rem;
}

.btn {
	border-radius: 0.14rem;
}

.btn-primary {
	color: #fff;
    background-color: #EE7401;
    border-color: #EE7401;
}

.text-header {
	margin-bottom: 3.4rem;
}

/* Font Colours */

.text-white {
	color: #ffffff;
}

.text-green {
	color: #00888A;
}

.text-red {
	color: #8C0044;
}
.text-orange {
	color: #EE7401;
}
.text-grey-light {
	color: #E6EDEF;
}
.text-grey-mid {
	color: #A4B3B7;
}
.text-blue-dark {
	color: #1C2E36;
}

.note {
	font-style: italic;
	color: red;
}


/* ---- Colours ---- */

.colour-white {
	background-color: #fff;
	color: black;
}

.colour-white h4 {
	color: #8C0044;
}

.colour-green {
	background-color: #00888A;
	color: #ffffff;
}

.colour-red {
	background-color: #8C0044;
	color: #ffffff;
}
.colour-orange {
	background-color: #EE7401;
	color: #ffffff;
}
.colour-grey-light {
	background-color: #E6EDEF;
}
.colour-grey-mid {
	background-color: #A4B3B7;
}
.colour-blue-dark {
	background-color: #1C2E36;
	color: #ffffff;	
}


/* ---- Jumbotrons ---- */

.jumbotron {
 	display: grid;
  	margin: 0;
  	place-items: center center;
  	height: 80vh;
  	max-height: 480px;
  	text-align: center;
}

.jumbotron-title {
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 0.2rem;
  font-family: 'Nunito Sans', sans-serif;
/*	font-size: 2.5rem;*/
}

.jumbotron-style-one {
  	background: url("../img/img-people-1.jpeg") no-repeat bottom center;
  	background-size: cover;
}

.jumbotron-style-two {
  	background: url("../img/city2-image.jpeg") no-repeat bottom center;
  	background-size: cover;
}


/* ---- AMBA Blocks ---- */

.amba-block {
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
}

.amba-block-deep {
	padding-top: 5.2rem;
	padding-bottom: 5.2rem;
}

@media (min-width: 768px) {
	.amba-block-hug-left {
		padding-left: 0;
	}

	.amba-block-hug-right {
		padding-right: 0;
	}
}

.padded-mobile {
	padding-top: 1rem;
	padding-bottom: 1rem;
}



.amba-block-white {
	background-color: #fff;
	padding: 2rem;
}

.amba-block-white .row {
	margin-bottom: 2rem;
}


.card-wide {
	margin-bottom: 3rem;
}

.card-no-border {
	border: none;
}

.card-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.card-contact {
	color: black;
}

.card-contact a {
	color: black;
}

i {
	color: #00888A;
}
.contact-card {
	border-radius: 0.4rem;
	margin-top: 75px;
}

.contact-card-mugshot {
	width: 120px;
	height: 120px;
	background: url(../img/team/mugshot-amy-youngs-background.jpg) no-repeat center center;
	background-size: cover;
	border: 6px solid white;
	border-radius: 100px;
	position: relative;
	top: -50px;
	margin: 0 auto;
}

.contact-card-body {
	padding: 0 2rem;
	position: relative;
	top: -25px;
}




.card-img-top {
	border-bottom: 0.2rem #00888A solid;
}

.background-image-1 {
  	background: url("../img/img-people-1.jpeg") no-repeat bottom center;
  	background-size: cover;
  	color: white;
}

.background-image-2 {
  	background: url("../img/img-people-2.jpeg") no-repeat bottom center;
  	background-size: cover;
  	color: white;
}

/* ---- AMBA Imagery ---- */

.img-icon {
	max-width: 120px;
}

/* ---- ---- */
/* ---- ---- */
/* ---- ---- */
/* ---- ---- */
/* ---- ---- */



