// Blocks


.container-fluid {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
	@media (min-width: $medium-screen) {
		padding-left: 2rem;
		padding-right: 2rem;

	}
	@media (min-width: $large-screen) {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

/* -- Block Depth --*/

.amba-block-slim {
  padding-top: $padding-xs;
  padding-bottom: $padding-xs;
  p,
  a {
  	color: $amba-white;
		font-size: 0.8rem;
		font-weight: 400;
		margin: 0;
  }
}


.amba-block-shallow {
	padding-top: $padding-sm;
	padding-bottom: $padding-sm;
	@media (min-width: $large-screen) {
		padding-top: 2.8rem;
		padding-bottom: 2.8rem;	
	}
}

.amba-block-standard {
	padding-top: $padding-lg;
	padding-bottom: $padding-lg;
	@media (min-width: $medium-screen) {
		padding-top: $padding-xl;
		padding-bottom: $padding-xl;
	}
	.amba-block-header {
		margin-bottom: $margin-lg;
		p:last-child {
			margin-bottom: 0;
		}
		@media (min-width: $medium-screen) {
			margin-bottom: $margin-xl;
			margin-bottom: $margin-xl;
		}
	}
}

.amba-block-deep {
	padding-top: $padding-xl;
	padding-bottom: $padding-xl;
	@media (min-width: $medium-screen) {
		padding-top: $padding-xxl;
		padding-bottom: $padding-xxl;
	}
}

.amba-block-nested {
	border-radius: $radius-xs;
	padding: $padding-xs;
	@media (min-width: $medium-screen) {
		padding: $padding-sm;
	}
}

/* -- Bespoke List Elements --*/

.amba-large-icon-list {
	margin-top: $margin-xs;
	margin-bottom: $margin-xs;
	h4 {
		color: $amba-green;
		margin-bottom: $margin-xs
	}
}

/* -- Block Types --*/

.amba-dummy-strip {
  min-height: 60px;
}

footer {
  padding: 1.6rem 3rem;
}

.amba-footer-slim{
  padding: 1rem 3rem;
}

.amba-strip-block {
  padding: 1rem;
}

.amba-content-block{
	padding: 1.6rem;
}

.amba-nested-content-block {
  padding: 1.6rem;
  border-radius: 0.2rem;
}


@media (min-width: 768px) {
	.amba-content-block{
		padding: 5rem 3rem;
/*		padding-top: 5.2rem;
		padding-bottom: 3.2rem;*/
	}

	.amba-content-block-shallow {
		padding-top: 1.8rem;
		padding-bottom: 1.8rem;
	}

	.amba-content-block-deep{
    padding: 5rem 3rem;
	}
}



.amba-content-block-shift-left {
	margin-right: 25%;
}

.amba-content-block-shift-right {
	margin-left: 25%;
}

.amba-container-block {
	padding: 2rem;
	border-radius: 0.2rem
}

@media (min-width: 768px) {
	.amba-container-block .row {
		margin-bottom: 2rem;
	}
}

@media (min-width: 768px) {
	.amba-block-hug-left {
		padding-left: 0;
	}

	.amba-block-hug-right {
		padding-right: 0;
	}
}




/* Footer */


