// Amba Breadcrumbs

.breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 1rem;
	margin-bottom: 0;
	list-style: none;
	background-color: #E6EDEF; /* AMBA Grey Light */
	border-radius: .20rem;
  font-size: 0.8rem;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: .5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}