/* --- Card Master --- */

.card-block {
	padding: var(--padding-size-2);
  border-radius: $radius-sm;
	margin-bottom: var(--margin-size-3);
	i {
		margin-right: var(--margin-size-2);
	}
}

.card {
  border-radius: $radius-sm;
	margin-bottom: var(--margin-size-3);
  margin: .5rem 0 1rem 0;
  // -webkit-transition: -webkit-box-shadow .25s;
  // transition: -webkit-box-shadow .25s;
  // transition: box-shadow .25s;
  // transition: box-shadow .25s, -webkit-box-shadow .25s;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
	@media (min-width: $medium-screen) {
		margin-bottom: var(--margin-size-4);
	}
	i {
		margin-right: 0.4rem;
		color: var(--amba-green);
	}
}

/* --- Card Imports --- */

@import "cards/card-ambition-mag";
@import "cards/card-contact";
@import "cards/card-event";
@import "cards/card-enquiry";
@import "cards/card-nested-content";
@import "cards/card-list-item";
@import "cards/card-accreditation-application";





