/* --- Card Master --- */

.card-block {
	padding: $padding-xs;
  border-radius: $radius-sm;
	margin-bottom: $margin-sm;
	i {
		margin-right: $margin-xs;
	}
}

.card {
  border-radius: $radius-sm;
	margin-bottom: $margin-sm;
  margin: .5rem 0 1rem 0;
  // -webkit-transition: -webkit-box-shadow .25s;
  // transition: -webkit-box-shadow .25s;
  // transition: box-shadow .25s;
  // transition: box-shadow .25s, -webkit-box-shadow .25s;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
	@media (min-width: $medium-screen) {
		margin-bottom: $margin-md;
	}
	i {
		margin-right: 0.4rem;
		color: $amba-green;
	}
}

/* --- Card Imports --- */

@import "cards/card-ambition-mag";
@import "cards/card-contact";
@import "cards/card-event";
@import "cards/card-enquiry";
@import "cards/card-nested-content";





