// AMBA Background Colours

.bg-amba-green {background-color: $amba-green;}
.bg-amba-red {background-color: $amba-red;}
.bg-amba-orange {background-color: $amba-orange;}
.bg-amba-light-grey {background-color: $amba-light-grey;}
.bg-amba-mid-grey {background-color: $amba-mid-grey;}
.bg-amba-dark-grey {background-color: $amba-dark-grey;}
.bg-amba-off-white {background-color: $amba-off-white;}

/* -- Block Colours --*/

.bg-amba-white {
	background-color: $amba-white;
	.amba-block-title {
		color:$amba-green;
	}
	.amba-block-description {
		color:$amba-dark-grey;
	}
}

.bg-amba-red,
.bg-amba-green,
.bg-amba-dark-grey {
	.amba-block-title {
		color:$amba-white;
	}
	.amba-block-description, p, a, li {
		color:$amba-white;
	}
	h1, h2, h3, h4, h5, h6, p {
		color: $amba-white;
	}
}

