// AMBA Fonts

/* --- Text Fonts --- */

:root {
font-size: 16px;
color: var(--amba-dark-grey);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--amba-dark-grey);
  line-height: 1.2;
  color: inherit;
  font-style: normal;
}

p {
  color: var(--amba-dark-grey);
}
a, p a {
  color: var(--amba-orange);
}

h1 {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-7);
}
h2 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-5);
}
h3 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-5);
}
h4 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4);
}
h5 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-3);
  text-transform: uppercase;
}
h6 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
}
p, a, p a {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
}

h1,h2,h3,h4,h5 {
	font-family: 'Nunito Sans', sans-serif; /* replace with Avenir when available */
} 

h6,p,a,p a,footer p,footer a {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: var(--margin-size-3);
}


p.link {
	margin-bottom: 0.2rem;
}

a:hover,
.link a:hover {
  color: inherit;
  opacity: 0.9;
}
