/* Images */

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-margin-bottom {
	margin-bottom: $margin-md;
	@media (min-width: $small-screen) {
			margin-bottom: 0;
	}
}



.img-icon {
	max-width: 4rem;
	margin-bottom: 1.2rem;
}

.img-social-icon {
	max-width: 3rem;
	margin: 1rem 0.6rem 1rem 0;
}

/* Responsive Image holders */

.img-holder {
	width: 100%;
	height: 300px;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 768px) {
	.img-holder {
		width: 100%;
		height: 380px;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/* --- Background Images --- */

.amba-content-bg-001 {background-image: url("../img/amba-collection/img-md-001.jpg");}
.amba-content-bg-002 {background-image: url("../img/amba-collection/img-md-002.jpg");}
.amba-content-bg-003 {background-image: url("../img/amba-collection/img-md-003.jpg");}
.amba-content-bg-004 {background-image: url("../img/amba-collection/img-md-004.jpg");}
.amba-content-bg-005 {background-image: url("../img/amba-collection/img-md-005.jpg");}
.amba-content-bg-006 {background-image: url("../img/amba-collection/img-md-006.jpg");}
.amba-content-bg-007 {background-image: url("../img/amba-collection/img-md-007.jpg");}
.amba-content-bg-008 {background-image: url("../img/amba-collection/img-md-008.jpg");}
.amba-content-bg-009 {background-image: url("../img/amba-collection/img-md-009.jpg");}
.amba-content-bg-010 {background-image: url("../img/amba-collection/img-md-010.jpg");}
.amba-content-bg-011 {background-image: url("../img/amba-collection/img-md-011.jpg");}
.amba-content-bg-012 {background-image: url("../img/amba-collection/img-md-012.jpg");}
.amba-content-bg-013 {background-image: url("../img/amba-collection/img-md-013.jpg");}
.amba-content-bg-014 {background-image: url("../img/amba-collection/img-md-014.jpg");}
.amba-content-bg-015 {background-image: url("../img/amba-collection/img-md-015.jpg");}
.amba-content-bg-016 {background-image: url("../img/amba-collection/img-md-016.jpg");}
.amba-content-bg-017 {background-image: url("../img/amba-collection/img-md-017.jpg");}

/* --- ---- */

.amba-hero-bg-001 {background-image: url("../img/amba-collection/img-xl-001.jpg");}
.amba-hero-bg-002 {background-image: url("../img/amba-collection/img-xl-002.jpg");}
.amba-hero-bg-003 {background-image: url("../img/amba-collection/img-xl-003.jpg");}
.amba-hero-bg-004 {background-image: url("../img/amba-collection/img-xl-004.jpg");}
.amba-hero-bg-005 {background-image: url("../img/amba-collection/img-xl-005.jpg");}
.amba-hero-bg-006 {background-image: url("../img/amba-collection/img-xl-006.jpg");}
.amba-hero-bg-007 {background-image: url("../img/amba-collection/img-xl-007.jpg");}
.amba-hero-bg-008 {background-image: url("../img/amba-collection/img-xl-008.jpg");}
.amba-hero-bg-009 {background-image: url("../img/amba-collection/img-xl-009.jpg");}
.amba-hero-bg-010 {background-image: url("../img/amba-collection/img-xl-010.jpg");}
.amba-hero-bg-011 {background-image: url("../img/amba-collection/img-xl-011.jpg");}
.amba-hero-bg-012 {background-image: url("../img/amba-collection/img-xl-012.jpg");}
.amba-hero-bg-013 {background-image: url("../img/amba-collection/img-xl-013.jpg");}
.amba-hero-bg-014 {background-image: url("../img/amba-collection/img-xl-014.jpg");}
.amba-hero-bg-015 {background-image: url("../img/amba-collection/img-xl-015.jpg");}
.amba-hero-bg-016 {background-image: url("../img/amba-collection/img-xl-016.jpg");}
.amba-hero-bg-017 {background-image: url("../img/amba-collection/img-xl-017.jpg");}


/* ------- */


.amba-mugshot-001 {background-image: url("../img/amba-collection/img-person-lg-001.jpeg");}
.amba-mugshot-002 {background-image: url("../img/amba-collection/img-person-lg-002.jpeg");}

/* ------- */

.amba-ambition-edition-001 {background-image: url("../img/amba-collection/img-ambition-sm-001.jpg");}
.amba-ambition-edition-002 {background-image: url("../img/amba-collection/img-ambition-sm-002.jpg");}
.amba-ambition-edition-003 {background-image: url("../img/amba-collection/img-ambition-sm-003.jpg");}
.amba-ambition-edition-004 {background-image: url("../img/amba-collection/img-ambition-sm-004.jpg");}

/* ------- */

.amba-full-width-img {
	width: 100%;
	height: 60vh;
	background-size: cover;
}
