/* Ambition Styling */

.ambition-article-square {
	min-height: 300px;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ambition-article-square-bg-1 {
	background: url("../img/ambition-mag/img-bg-1.jpeg") no-repeat bottom center;
	background-size: cover;
}

.ambition-article-square-bg-2 {
	background: url("../img/ambition-mag/img-bg-9.jpeg") no-repeat bottom center;
	background-size: cover;
}

.ambition-article-square-bg-3 {
	background: url("../img/ambition-mag/img-bg-2.jpeg") no-repeat bottom center;
	background-size: cover;
}
.ambition-article-square-bg-4 {
	background: url("../img/ambition-mag/img-bg-3.jpeg") no-repeat bottom center;
	background-size: cover;
}
.ambition-article-square-bg-5 {
	background: url("../img/ambition-mag/img-bg-4.jpeg") no-repeat bottom center;
	background-size: cover;
}
.ambition-article-square-bg-6 {
	background: url("../img/ambition-mag/img-bg-5.jpeg") no-repeat bottom center;
	background-size: cover;
}
.ambition-article-square-bg-7 {
	background: url("../img/ambition-mag/img-bg-6.jpeg") no-repeat bottom center;
	background-size: cover;
}
.ambition-article-square-bg-8 {
	background: url("../img/ambition-mag/img-bg-7.jpeg") no-repeat bottom center;
	background-size: cover;
}
.ambition-article-square-bg-9 {
	background: url("../img/ambition-mag/img-bg-8.jpeg") no-repeat bottom center;
	background-size: cover;
}


.article-square-title {
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 0.2rem;
  font-family: 'Nunito Sans', sans-serif;
/*  font-size: 1.75rem;
	max-width: 400px;*/
	margin: 0 auto 1rem;
}