/* Utility Classes */


/* ------- */

.breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 1rem;
	margin-bottom: 0;
	list-style: none;
	background-color: #E6EDEF; /* AMBA Grey Light */
	border-radius: .20rem;
  font-size: 0.8rem;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: .5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}

/* ------- */

.blockquote {
  margin-bottom: 1rem;
}

.blockquote p {
  font-size: 1.75rem;
  font-weight: 800;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

/* ------- */


.amba-article-title h1 {
	color: #00888A;
}


/* ------- */

.amba-dummy-strip {
  min-height: 60px;
}

footer {
  padding: 1.6rem 3rem;
}

.amba-footer-slim{
  padding: 1rem 3rem;
}

.amba-strip-block {
  padding: 1rem;
}

.amba-content-block{
	padding: 1.6rem;
}

.amba-nested-content-block {
  padding: 1.6rem;
  border-radius: 0.2rem;
}

.amba-content-block-shallow {
  padding: 1.6rem 3rem 1.6rem 3rem;
}

.amba-content-block-deep{
  padding: 5rem 3rem;
}

@media (min-width: 768px) {
	.amba-content-block{
		padding: 5rem 3rem;
/*		padding-top: 5.2rem;
		padding-bottom: 3.2rem;*/
	}

	.amba-content-block-shallow {
		padding-top: 1.8rem;
		padding-bottom: 1.8rem;
	}

	.amba-content-block-deep{
    padding: 5rem 3rem;
	}
}



.amba-content-block-shift-left {
	margin-right: 25%;
}

.amba-content-block-shift-right {
	margin-left: 25%;
}

.amba-container-block {
	padding: 2rem;
	border-radius: 0.2rem
}

@media (min-width: 768px) {
	.amba-container-block .row {
		margin-bottom: 2rem;
	}
}

@media (min-width: 768px) {
	.amba-block-hug-left {
		padding-left: 0;
	}

	.amba-block-hug-right {
		padding-right: 0;
	}
}

.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.padded-mobile{
	padding-top: 1rem;
	padding-bottom: 1rem;
}


